<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.calvin.skripsi.kanabisa">

    <application
            android:allowBackup="true"
            android:icon="@drawable/kanabisa"
            android:label="@string/app_name"
            android:roundIcon="@drawable/kanabisa"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
                android:name=".SplashActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BerandaActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PengantarActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".HiraganaActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".KatakanaActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".KarakterActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".KompetensiActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BerandaEvaluasiActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".EvaluasiActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".TabelDetailHiraganaActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".TabelDetailKatakanaActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".HistoriActivity"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".DetailHistoriActivity"
                  android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>